.categori{
    &:not(:last-child){
        margin-right: 24px;
    }
    padding: 11px 48px;
    background: #FFEED6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    &_active{
        background: #FFA15E;
    }
}