.search{
        position: relative;
        width: 578px;
        margin-right: 24px;
        &-input{
            position: relative;
            
            background: #FFF8EE;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            border: none;
            border-radius: 15px;
            padding: 11px 3px 13px 20px;
            width: 100%;
            color: #888888;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            outline: none;
        }
        &-button{
            position: absolute;
            background: #FFF8EE;
            top: 9px;
            right: 0;
            width: 10px;
            height: 10px;
            border: none;
        }
}