.header{
    position: relative;
    margin: 0 auto;
    max-width: 1650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    &-list{
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        padding: 0;
        margin: 0;
        &-item-link:not(:first-child){
            margin-left: 28px;
        }
        &-item-link{
            color: #FF6B00;
        }
    }
}